{% extends "layout.html" %}
<style type="text/css">
	table.gridtable {
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #666666;
		border-collapse: collapse;
	}
	table.gridtable th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #dedede;
	}
	table.gridtable td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #ffffff;
	}
</style>
{% block content %}
<div style="width:600px;">
	<table class="gridtable">
		<thead>
			<tr>
				<th rowspan="3">
					&nbsp;
				</th>
				<th colspan="11">
					Child Tally
				</th>
				<th colspan="7">
					Maternal Health Tally
				</th>
				<th colspan="2">
					Birth Register
				</th>
			</tr>
			<tr>
				<th colspan="2">DPT</th>
				<th colspan="2">VACM</th>
				<th colspan="4">VITA</th>
				<th colspan="2">WORM</th>
				<th>REDM</th>
				<th colspan="4">TET</th>
				<th>A1C</th>
				<th colspan="2">EID</th>
				<th colspan="2">BREG</th>
			</tr>
			<tr>
				<th>Male</th><th>Female</th>
				<th>Male</th><th>Female</th>
				<th>Male (6m-11m)</th><th>Female (6m-11m)</th><th>Male (12m-59m)</th><th>Female (12m-59m)</th>
				<th>Male</th><th>Female</th>
				<th>&nbsp;</th>
				<th>Dose 1</th><th>Dose 2</th><th>Dose 3</th><th>Dose 4</th>
				<th>&nbsp;</th>
				<th>Male</th><th>Female</th>
				<th>Male</th><th>Female</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>pow</th><td> 76</td><td>75</td><td>54</td><td>45</td><td>23</td><td>87</td><td>32</td><td>9</td><td>46</td><td>59</td><td>18</td><td>62</td><td>66</td><td>53</td><td>24</td><td>52</td><td>43</td><td>71</td><td>86</td><td>56 </td>
			</tr>
			<tr>
				<th>pow</th><td> 76</td><td>75</td><td>54</td><td>45</td><td>23</td><td>87</td><td>32</td><td>9</td><td>46</td><td>59</td><td>18</td><td>62</td><td>66</td><td>53</td><td>24</td><td>52</td><td>43</td><td>71</td><td>86</td><td>56 </td>
			</tr>
			<tr>
				<th>pow</th><td> 76</td><td>75</td><td>54</td><td>45</td><td>23</td><td>87</td><td>32</td><td>9</td><td>46</td><td>59</td><td>18</td><td>62</td><td>66</td><td>53</td><td>24</td><td>52</td><td>43</td><td>71</td><td>86</td><td>56 </td>
			</tr>

		</tbody>

	</table>
</div>
{% endblock %}
