{% extends "mcdtrac/fhd_dash_base.html" %}
{% load fhd_stats_extras %}
{% block content %}
	{% comment %}
    <a href="/static/mtrack/spreadsheets/{{ user.username|get_user_report_name:"" }}">Download all reports &raquo;</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/static/mtrack/spreadsheets/{{ user.username|get_user_report_name:"" }}.zip">Download all reports(Zipped version) &raquo;</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/static/mtrack/spreadsheets/{{ user.username|get_user_report_name:"_vht" }}">Download VHT reports &raquo;</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/static/mtrack/spreadsheets/{{ user.username|get_user_report_name:"_vht" }}.zip">Download VHT reports(zipped) &raquo;</a>
	{% endcomment %}
    {{ block.super }}
{% endblock content %}
