{% extends "generic/base.html" %}
{% block title %}
    Submissions - {{ block.super }}
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}mtrack/stylesheets/layout.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/tables.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/forms.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css" />
    <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}generic/stylesheets/generic.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}contact/stylesheets/messages.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms_xforms/stylesheets/style.css" />
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{{MEDIA_URL}}mcdtrac/javascripts/mcdtrac.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
{{ block.super }}
{% endblock %}
