{% extends 'generic/partials/partial_row.html' %}
{% load submission_tags %}
{% block remaining_row_content %}
    <td class="center">
      {% ifequal object.type "odk-www" %}
      <img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/application_form.png" title="XForms object" >
      {% endifequal %}
      {% ifequal object.type "sms" %}
      <img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/phone.png" title="SMS object" >
      {% endifequal %}
    </td>
    <td>{{ object.connection.identity|district }}</td>
    <td>{{ object.connection.identity|hc }}</td>
    <td>{{ object.connection.identity }}</td>
    <td>
      {% if object.has_errors %}
      <font color='red'>
      {% else %}
      <font color='green'>
      {% endif %}
      {{ object.created|date:"m/j/y G:i:s"}}</td>
    </font>
    </td>
    {% for field in fields.all %}
    <td>
      {% for value in object.submission_values %}
      {% ifequal field.pk value.attribute.pk %}
      {% if field.xform_type == 'binary' %}
      <a href="{{ value.value.url }}">{{ value.value }}</a>
      {% else %}
      {{ value.value }}
      {% endif %}
      {% endifequal %}
      {% endfor %}
    </td>
    {% endfor %}
    <td>
      <div class="buttons">
    <a href="/xforms/submissions/{{ object.pk }}/edit/">
          <img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/pencil.png" alt=""/> Edit
    </a>
      </div>
    </td>
{% endblock %}